<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".ifcxml" mimeType="application/xml" />
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>


